
.background-image{
    width: 100%;
    height:100%;
    position: fixed;
    top: 500px;
    left: 1200px;
    /*background-size: cover;*/
    /*background-position: center center;*/
    float: right;
    background-image: url('../img/dish.gif');
    z-index: -1;
    background-repeat: no-repeat;

}